.withAfter::after {
    content: none !important;
}

.textAfter::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: -7%;
    width: 110%;
    height: 0.4rem;
}

.clicked::before {
    border: none !important;
}

.noClicked::before {
    border: solid 1px #fff !important;
}

.hoveredMercury:hover::before {
    background: #419ebb;
}

.hoveredVenus:hover::before {
    background: #eda249;
}

.hoveredEarth:hover::before {
    background: #6d2ed5;
}

.hoveredMars:hover::before {
    background:#d14c32
}

.hoveredJupiter:hover::before {
    background:#d83a34
}

.hoveredSaturn:hover::before {
    background:#cd5120
}

.hoveredUranus:hover::before {
    background:#1ec1a2
}

.hoveredNeptune:hover::before {
    background: #2d68f0;
}


